<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="/basic.js"></script>

    <title>게시판 목록</title>

</head>
<div class="card">
    <h5 class="card-header" style="text-align: center;">프로그래밍 공부 노하우를 나누는 곳입니다</h5>
    <div class="card-body">
        <!--        로그인 버튼, 회원가입 버튼-->
        <button th:if="${userName} == null" type="button" class="btn btn-secondary btn-sm float-right"
                onclick="location.href='/user/login'" style="margin-left: 10px; margin-bottom: 20px">로그인
        </button>
        <button th:if="${userName} != null" type="button" class="btn btn-secondary btn-sm float-right"
                onclick="location.href='/user/logout'" style="margin-left: 10px; margin-bottom: 20px">로그아웃
        </button>
        <button th:if="${userName} == null" type="button" class="btn btn-secondary btn-sm float-right"
                onclick="location.href='/user/signup'">회원가입
        </button>
        <button th:if="${userName} != null" th:text="${userName}+' 마이페이지'"
                th:onclick="|location.href='/post/user/${accountId}'|" type="button"
                class="btn btn-secondary btn-sm float-right">
        </button>
        <!--        글 작성하기 버튼-->
        <script type="text/javascript" th:inline="javascript">
            /*<![CDATA[*/
            function loginalert() {
                alert("로그인이 필요한 기능입니다");
                location.href = '/user/login';
            }

            /*]]>*/
        </script>
        <!--        로그인을 안한 유저를 위한 버튼-->
        <button th:if="${userName} == null" th:onclick="loginalert()" type="button" class="btn btn-primary btn-sm"
        >글 작성하기
        </button>
        <!--        로그인 한 유저를 위한 버튼-->
        <button th:if="${userName} != null" type="button" class="btn btn-primary btn-sm"
                onclick="location.href='/post/write'">글 작성하기
        </button>

        <!--        게시글 조회 테이블-->
        <table class="table" style="cursor: pointer;">
            <thead>
            <tr>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
            </tr>
            </thead>
            <tbody th:each="allmemo: ${allmemolist}">
            <tr th:onclick="|location.href = '/post/read/${allmemo.id}'|">
                <th th:text="${allmemo.title}" scope="row"></th>
                <td>
                    <a th:text="${allmemo.user.username}" th:href="'/post/user/'+${allmemo.user.id}"></a>
                </td>
                <td th:text="${allmemo.modifiedAt}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!--    페이지네이션-->
    <nav aria-label="Page navigation example">
        <!--표에 사용될 변수값 초기화 -->
        <ul class="pagination justify-content-center"
            th:with="start=${T(Math).floor(allmemolist.number/10)*10 + 1},
                    last=(${start + 9 < allmemolist.totalPages ? start + 9 : allmemolist.totalPages})">
            <th:block th:with="
                firstAddr=@{/(page=1)},
                prevAddr=@{/(page=${allmemolist.number})},
                nextAddr=@{/(page=${allmemolist.number + 2})},
                lastAddr=@{/(page=${allmemolist.totalPages})}">
                <li class="page-item disabled">
                    <a th:href="${firstAddr}" aria-label="First" class="page-link">
                        <span aria-hidden="true" >Previous</span>
                    </a>
                </li>
                <!-- 이전 페이지로 가기 버튼 -->
                <li th:class="${allmemolist.first} ? 'disabled'" class="page-item">
                    <a th:href="${allmemolist.first} ? '#' :${prevAddr}" class="page-link"
                       aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>
                <!--1,2,3,4,.. 등 페이지-->
                <li th:each="page: ${#numbers.sequence(start, last)}"
                    th:class="${page == allmemolist.number + 1} ? 'active'" class="page-link">
                    <a th:text="${page}" th:href="@{/(page=${page})}" class="page-link"></a>
                </li>
                <!--다음 페이지로 -->
                <li th:class="${allmemolist.last} ? 'disabled'" class="page-item">
                    <a th:href="${allmemolist.last} ? '#' : ${nextAddr}"
                       aria-label="Next">
                        <span aria-hidden="true" class="page-link">&gt;</span>
                    </a>
                </li>
                <!--맨 마지막 페이지로 이동 -->
                <li class="page-item">
                    <a th:href="${lastAddr}" aria-label="Last" class="page-link">
                        <span aria-hidden="true">Next</span>
                    </a>
                </li>
            </th:block>
        </ul>
    </nav>
</div>
</body>

</html>